.post-sub-container {
    display: flex;
    /* flex-direction: column; */
    gap: 25px;
    box-sizing: border-box;
    padding: 10px 10px;
    width: 100%;
    padding-top: 40px;
}
.post-sub-child {
    width: 60%;
    box-sizing: border-box;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.post-detail{
    width: 40%;
}
.post-items {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 12px;
}
.post-item {
    border-radius: 15px;
}
.post-btn {
    width: 100%;
    padding: 10px 0;
}


/* 
=============================================
@media all max-width: 1030px
=============================================
 */

 @media screen and (max-width: 1030px) {
    .post-item {
        display: flex;
        flex-direction: column;
    }
 }


/* 
=============================================
@media all max-width: 800px
=============================================
 */

 @media screen and (max-width: 800px) {

    .post-items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 12px;
    }
    .post-item {
        display: flex;
        flex-direction: row;
    }
    .post-pg {
        font-size: 14px;
    }
 }

 /* 
=============================================
@media all max-width: 665px
=============================================
 */

 @media screen and (max-width: 665px) {
    .post-item {
        display: flex;
        flex-direction: column;
    }
    .post-opt {
        display: flex;
        flex-direction: column;
    }
 }

 
/* 
=============================================
@media all max-width: 490px
=============================================
 */

 @media screen and (max-width: 490px) {

    .post-sub-container {
        display: flex;
        flex-direction: column;
        gap: 25px;
        box-sizing: border-box;
        padding: 10px 10px;
        width: 100%;
        padding-top: 40px;
    }
    .post-sub-child {
        width: 100%;
        gap: 16px;
    }

    .post-items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 12px;
    }
    .post-item {
        display: flex;
        flex-direction: row;
    }
    .post-detail-t {
        font-size: 17px;
    }
    .post-detail{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .post-opt {
        display: flex;
        flex-direction: row;
    }

}

 /* 
=============================================
@media all max-width: 340px
=============================================
 */

 @media screen and (max-width: 340px) {
    .post-item {
        display: flex;
        flex-direction: column;
    }}