.nav-head {
    background-color: #94cc11;
    border-radius: 20px;
    margin-left: 35px;
    margin-right: 35px;
}
 .ul-nav  {
    display: flex;
    gap: 13px;
 }

.ul-nav li {
    border-radius: 10px;
}

.ul-nav li:hover {
    background-color: #fff;
    color: rgba(93, 182, 58, 0.979);
}

.ul-nav li:first-child {
    background-color: white;
    color: rgba(93, 182, 58, 0.979);
}

/* 
=========================================
Nav Icons
=========================================
 */

.nav-i {
    background-color: rgb(255, 154, 3);
    padding: 10px;
    border-radius: 20px;
    transition: all 0.2s ease-in;
}

.nav-i:hover {
    background-color: rgb(255, 72, 0);
    transform: translateY(-7px);
}

.social-icon {
    transform: scale(0.8);
}

.home-icon {
    border: 1px solid transparent;
    transition: all 0.2s ease-in;
}

.home-icon:hover {
    border: 1px solid rgba(93, 182, 58, 0.979);
}

.head-text {
    background-color: #68606031;
}

.cart-length {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-17px, -9px);
}

/* items not screen size only */

.bug-con,
.only-screen {
    display: none;
}
.logo-img{
    height: 50px;
    width: 100px;
}

/* 
  ======================================
  screen sizing width (1100px)
  ======================================
  */

@media all and (max-width: 1100px) {

    .span-tag:hover,
    .span-li:hover{
       background-color: #fffefe;
       color: #000;
    }

    .ul-nav,
    .cat-shop-container {
        display: none;
    }

    .bug-con {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 3px;
    }


    .side-cat-image {
        /* width: 725px; */
        width: 100%;
        border-radius: 20px;
        min-height: fit-content;
     }
     
     .side-image-1-3 {
        width: 100%;
        border-radius: 20px;
        min-height: fit-content;
     }
 
     .img-1 {
        width: 58%;
        max-height: min-content;
     }
     
     .img-2 {
        width: 20%;
     }

    .bug {
        width: 28px;
        height: 4px;
        border-radius: 2px;
        background-color: #fffefe;
        transition: all 1s ease-in-out;
    }

    .true .bug1 {
        transform: rotate(45deg);
        width: 28px;
        height: 4px;
        border-radius: 2px;
        background-color: #ffffff;
        position: absolute;
    }

    .true .bug2 {
        transform: rotate(135deg);
        width: 28px;
        height: 4px;
        border-radius: 2px;
        background-color: #000;
        position: absolute;
    }

   .only-screen {
            display: flex;
            flex-direction: column;
            gap: 10px;
            position: fixed;
            top: -4px;
            left: 0;
            width: 50%;
            background-color: #3f3b3b;
            border-radius: 3px;
            box-sizing: border-box;
            padding: 12px;
            transition: all 1s ease;
            z-index: 2;
    }

    .only-screen::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.24) ;
        margin-right: 8px;
        padding: 6px;
        z-index: -1;
    }
    .false + .only-screen{
        transform: translateY(-800px);
    }
    .close {
       right: -33px;
       top: 0;
       padding: 0 10px;
       transition: all 4s ease;
    }
  
}

/* 
  ======================================
  screen sizing width (700px)
  ======================================
  */

  @media all and (max-width: 700px) {

    .search-section {
        display: none;
    }
    .icon-nav {
        margin: auto;
    }
    .input-parent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }
     .ul-nav,
     .cat-shop-container {
         display: none;
     }
  }


  /* 
  ======================================
  screen sizing width (620px)
  ======================================
  */

@media all and (max-width: 620px) {

    .only-screen {
        width: 60%;
}
.nav-switch {
    font-size: 18px;
}

}
  /* 
  ======================================
  screen sizing width (620px)
  ======================================
  */

@media all and (max-width: 460px) {

    .only-screen {
        width: 60%;
} 
.social-icon {
    /* transform: scale(0.6); */
    size: 19px;
    padding: 0;
    gap: 2px;
}
.nav-switch {
    font-size: 16px;
}
.ul-nav,
.cat-shop-container {
    display: none;
}

}