 
.like-items {
    box-sizing: border-box;
    padding: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.like-item {
    border-radius: 15px;
    display: flex;
}
 
/* 
=============================================
@media all max-width: 800px
=============================================
 */

 @media all and (max-width: 800px) {

    .like-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
    }
    .like-pg {
        font-size: 14px;
    }
 }
 
 
/* 
=============================================
@media all max-width: 490px
=============================================
 */

 @media all and (max-width: 490px) {
 
    .like-items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 12px;
    }

}

 /* 
=============================================
@media all max-width: 340px
=============================================
 */

 @media all and (max-width: 340px) {
 
    .like-items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 12px;
    }
 }