 
.search-items {
    box-sizing: border-box;
    padding-top: 25px;
    padding: 14px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.search-item {
    border-radius: 15px;
    display: flex;
}
 
/* 
=============================================
@media all max-width: 800px
=============================================
 */

 @media all and (max-width: 800px) {

    .search-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 12px;
    }
    .search-pg {
        font-size: 14px;
    }
 }
 
 
/* 
=============================================
@media all max-width: 490px
=============================================
 */

 @media all and (max-width: 490px) {
 
    .search-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
    }

}

 /* 
=============================================
@media all max-width: 340px
=============================================
 */

 @media all and (max-width: 340px) {
 
        .search-items {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 12px;
        }
 }